@font-face 
	font-family 'bungee_regularregular'
	src url('fonts/bungee-regular-webfont.woff2') format('woff2'),
		url('fonts/bungee-regular-webfont.woff') format('woff')
	font-weight normal
	font-style normal
	
@font-face
	font-family 'BerlinSansFBDemi-Bold'
	src url('fonts/BerlinSansFBDemi-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/BerlinSansFBDemi-Bold.woff') format('woff'), url('fonts/BerlinSansFBDemi-Bold.ttf')  format('truetype'), url('fonts/BerlinSansFBDemi-Bold.svg#fonts/BerlinSansFBDemi-Bold') format('svg')
	font-weight normal
	font-style normal

@font-face 
	font-family 'DINNeuzeitGrotesk-BoldCond'
	src url('DINNeuzeitGrotesk-BoldCond.eot?#iefix') format('embedded-opentype'),  
		url('DINNeuzeitGrotesk-BoldCond.woff') format('woff'), url('DINNeuzeitGrotesk-BoldCond.ttf')  format('truetype'), 
		url('DINNeuzeitGrotesk-BoldCond.svg#DINNeuzeitGrotesk-BoldCond') format('svg')
	font-weight normal
	font-style normal

@font-face 
	font-family 'DIN-Regular'
	font-style normal
	font-weight normal
	src local('DIN-Regular'), url('fonts/DINR____.woff') format('woff')



