@import 'variables'
@font-face
    font-family 'angelina'
    src url('../css/fonts/angelina.ttf') format('truetype'),
    	url('../css/fonts/angelina.woff2') format('woff2'),
        url('../css/fonts/angelina.woff') format('woff')
    font-weight normal
    font-style normal
footer
	position relative
.footer-top
	position relative
	top 44px
	z-index 9
	background-color #007bbd
	&:before
		content ''
		display block
		position absolute
		left 0
		right 0
		bottom 100%
		width 100%
		height 100%
		z-index -1
		background-image url('../img/footer-top-bg.jpg')
		background-repeat no-repeat
		-webkit-background-size cover
		-moz-background-size cover
		background-size cover
	nav
		
		li
			padding 20px 0
			font-weight 700
			&:after
				content: '|'
				padding 0 25px
				color #a8a8a8
			a
				color lightColor
				transition opacity .3s ease
				&:hover 
					opacity .5
			&:last-child
				&:after
					content initial
			&.active
				a
					font-weight 400
	li
		padding 12px 0 12px 17px
.footer-image
	position absolute
	bottom 0
	z-index 10
	@media all and (max-width: 992px)
		display none
	img
		@media all and (max-width: 1200px)
			width 120%
.footer-main
	background-image url('../img/footer-main-bg.jpg')
	background-repeat no-repeat
	background-size cover
	.footer-main--content
		padding 100px 0 75px 5%
		color lightColor
		font-size 30px
		font-family 'angelina'
		transform rotate(-2deg)
		@media all and (max-width: 992px)
			padding-left 0
			text-align center
	.footer-main--list
		margin-bottom 30px
		li
			color #85c4e4
			a
				color #85c4e4
				font-size 16px
				font-family primaryFont
				.fa
					margin-right 7px
		> li
			&:after
				content: '\2022'
				padding 0 25px
				color #a8a8a8
			&:last-child
				&:after
					content initial
		@media all and (max-width: 768px)
			> li 
				display block
				&:after 
					content initial
.footer-menu
	position relative
	z-index 1
	background-color #efefef
	.footer-copyright
		padding 20px 0
		font-size 14px
		font-family primaryFont
	li
		padding: 12px 0 12px 17px;
		
@media all and (max-width: 992px)
	.footer-top, .footer-main, .footer-menu
		ul, div
			width 100%
			text-align center
			li
				padding 10px 5px
				a
					color lightColor !important
		&:before
			content initial
	.footer-main
		.footer-main--content
			padding 50px 0
	.footer-top
		position static
		li
			padding 20px 0 !important