@import 'variables'
footer 
	position relative
	padding-top 100px
	padding-bottom 60px
	font-size 22px
	line-height 1.4
	a 
		color #e2e6ee
		transition color .3s ease 
		&:hover 
			color #83b723
	h2 
		margin-bottom 60px
		font-size 48px
	li 
		display block
		line-height 1.4
		color #e2e6ee
		&.active 
			color #83b723
	.footer-content 
		margin-bottom 50px
	.col-md-6
		position relative
		padding-left 85px
		.side-descr
			position absolute
			color #52658a
.footer-image
	position absolute
	bottom 0
	left -50px
	max-width 35%
.copywrite 
	color #52658a
	font-size 16px	