@import 'variables'
.section-item--events
	position relative
	padding-right 90px
	padding-bottom 60px
	padding-left 90px
.side-descr-wrap
	position absolute
	top 50%
	right 0
	font-size 14px
	opacity .8
	.fa 
		font-size 21px
		margin-left 30px
		margin-right -36px
	.side-descr
		transform rotate(90deg)
.events-list
	.slick-list
		padding-bottom 30px
.events-container
	max-width 1400px
	margin 0 auto
.event-item__image
	background-size cover 
	background-position center
	&:before 
		padding-top 122%
.event-item__date
	position absolute
	top 9%
	right -15%
	width 65%
	padding 5px 0
	transform rotate(45deg)
	background-color #ca000c
	color lightColor
	font-size 26px
	font-family berlinFont
	text-align center
	text-transform uppercase
.event-item__age
	display inline-block
	width 56px
	line-height 56px
	text-align center
	position absolute
	bottom 95px
	left 10px
	background-color darkColor 
	color lightColor
	font-size 34px
	font-family titleFont
	border-radius 50%
	text-transform uppercase
.event-item__title
	position absolute
	right 0
	bottom 0
	left 0 
	padding 30px 10px
	background-color rgba(0,0,0,.85)
	span 
		display block 
		white-space nowrap
		text-overflow ellipsis
		overflow hidden	
		color lightColor
		font-size 23px
		font-family berlinFont
		font-weight 700
		text-transform uppercase 
		text-align center
.event-item__descr
	position relative
	padding 20px 20px 30px
	border 1px solid rgba(255,255,255,.1)
	border-top none
	border-bottom none
	p 
		font-size 14px
		line-height 1.3
.order-btn-wrap
	margin-top 20px
	text-align right
	.order-btn
		display inline-block
		padding 15px 30px 15px 15px
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
		color lightColor
		font-family titleFont
		text-transform uppercase
		background-size contain 
		background-repeat no-repeat 
		background-position right center
.event-item__plus
	position absolute
	right 0
	bottom 0
	left 0
	display flex
	align-items flex-end
	span
		position relative
		padding 17px
		margin-bottom -23px
		&:after 
			content ''
			position absolute
			top 9px
			left 6px
			width 30px
			height 30px
			font-size 20px	
			background-color transparent
			border 1px solid rgba(255,255,255,.2)
			transform rotate(-45deg)
			transition color .3s ease, background-color .3s ease
	&:before, &:after 
		content ''
		height 1px 
		flex-grow 1
		background-color rgba(255,255,255,.1)
		

.section-item--descr
	padding-top 120px
	padding-bottom 200px
	background-size cover
	background-position bottom right
	text-align center
	h5 
		margin-bottom 40px
		letter-spacing 2px
	p 
		font-size 21px 
		line-height 1.25
		text-transform uppercase
		letter-spacing 2px
	.btn-wrap
		margin-top 30px
	.col-md-6
		&:nth-child(2n+1)
			p 
				max-width 560px
				margin 0 auto
		&:nth-child(2n+2)
			p 
				max-width 420px 
				margin 0 auto

.section-item--fb-feed
	padding-top 90px
	padding-bottom 100px
	
.feed-container
	position relative
	max-width 1200px 
	margin 0 auto
	padding-left 20px
	padding-right 175px
	.side-descr-wrap
		.fa 
			margin-left 100px
			margin-right -90px
.fb-descr
	text-align left
	h2 
		margin-bottom 50px
		text-align left
	p 
		font-size 20px
		line-height 1.4
		text-transform uppercase

.section-item--list
	padding-top 120px
	padding-bottom 180px
	background-size cover 
	background-position bottom center
	text-align center
	h2 
		margin-bottom 10px
		font-size 52px
	h5 
		margin-bottom 50px
		font-size 18px
	p 
		margin-bottom 40px
		font-size 20px
		line-height 1.3
		text-transform uppercase
	.col-md-5 
		position initial
		padding 0 40px
		.logo-item-first
			max-width 360px
			position absolute
			bottom 20px
			left 48%
			transform translateX(-50%)
		.logo-item-second
			max-width 90px
			position absolute
			right 60px
			bottom 130px
	.col-md-2
		&:after 
			content ''
			position absolute
			height 30%
			width 1px
			left 50%
			top 25%
			background-color lightColor
			opacity .4

.section-item--instagram
	padding 0
.instagram-wrap
	padding-top 100px
	
.instagram-item
	background-size cover 
	background-position center
	height 300px
	width 300px